[Desktop Entry]
Type=Application
Version=1.0
Name=Firefox Default
Exec=/usr/lib/firefox/firefox -P default
Icon=firefox
Terminal=false
Categories=GNOME;GTK;Network;WebBrowser;
