[Unit]
Description=Spark service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
TimeoutSec=5
User=sysadm
Group=sysadm
ExecStart=/usr/bin/lifx -g Office -1

[Install]
WantedBy=multi-user.target
