[Unit]
Description=Lifx shutdown
Requires=network.target
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
TimeoutSec=5
RemainAfterExit=true
User=sysadm
Group=sysadm
ExecStart=/bin/true
ExecStop=/usr/bin/lifx -g Office -0

[Install]
WantedBy=multi-user.target
