[Unit]
Description=LIFX shutdown service
Requires=network.target
Before=poweroff.target halt.target
DefaultDependencies=no

[Service]
Type=oneshot
TimeoutSec=5
RemainAfterExit=true
User=sysadm
Group=sysadm
ExecStart=/bin/true
ExecStop=/bin/bash -c 'systemctl list-jobs | grep -Eq 'reboot.target.*start' || /usr/bin/lifx -g Office -0'

[Install]
WantedBy=multi-user.target systemd-halt.service systemd-poweroff.service
