[Unit]
Description=LIFX boot service
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
TimeoutSec=10
User=sysadm
Group=sysadm
#ExecStartPre=/bin/bash -c 'until host api.lifx.com; do sleep 1; done'
#ExecStart=/usr/bin/lifx -g Office -1
ExecStart=/usr/bin/lifx-boot -1

[Install]
WantedBy=multi-user.target
