[Unit]
Description=mount backup NFS share

[Mount]
What=10.0.10.10:/volume1/backups
Where=/mnt/backup
Type=nfs
Options=defaults
TimeoutSec=5

[Install]
WantedBy=multi-user.target
