[Unit]
Description=mount media NFS share

[Mount]
What=10.11.10.10:/volume1/media
Where=/mnt/media
Type=nfs
Options=defaults
TimeoutSec=5

[Install]
WantedBy=multi-user.target
