[Unit]
Description=Mount media NFS share
After=network.target

[Mount]
What=10.0.10.10:/volume1/media
Where=/mnt/media
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
