[Unit]
Description=mount workspace NFS share
#Requires=network-online.service
#After=network-online.service nss-lookup.target

[Mount]
What=nas.int.sbbh.cloud:/volume1/workspace
Where=/mnt/workspace
Type=nfs
Options=defaults
TimeoutSec=5

[Install]
WantedBy=multi-user.target
