[Unit]
Description=Mount backup NFS share
Requires=network-online.service
After=network-online.service nss-lookup.target

[Mount]
What=nas.int.sbbh.cloud:/volume1/backups
Where=/mnt/backup
Type=nfs
Options=_netdev,auto
TimeoutSec=5

[Install]
WantedBy=multi-user.target
