[Unit]
Description=Mount backups NFS share
After=network.target

[Mount]
What=10.0.10.10:/volume1/backups
Where=/mnt/backup
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
