customCommands:
  - key: "<c-p>"
    context: "files"
    command: 'GIT_COMMITTER_DATE="$(date)" git commit --amend --no-edit --date="$(date)" && git push --force-with-lease'
    prompts:
      - type: "confirm"
        title: "Amend & force push"
        body: "Amend & force push (with new hash)?"
