// vi: ft=jsonc
// -------------------------------------------------------------------------
// Global configuration
// -------------------------------------------------------------------------
[
  {
    "output": "@@OUTPUT@@",
    "include": [
      "~/.config/waybar/config_top"
    ]
  },
  {
    "output": "@@OUTPUT@@",
    "include": [
      "~/.config/waybar/config_bottom"
    ]
  }
]
