// vi: ft=jsonc
// -------------------------------------------------------------------------
// Launcher configuration
// -------------------------------------------------------------------------
{
  "output": "@@OUTPUT@@",
  "include": [
    "~/.config/waybar/modules",
    "~/.config/waybar/config",
    "~/.config/waybar/@@BAR@@",
  ],
}
