[Unit]
Description=mount backups NFS share
After=network-online.target
Wants=network-online.target

[Mount]
What=10.11.10.10:/volume1/backups
Where=/mnt/nas/backups
Type=nfs
Options=defaults
TimeoutSec=5

[Install]
WantedBy=multi-user.target
