SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="c0:3e:ba:bd:82:bf", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="4c:49:6c:95:24:69", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan0"
